# Gradle
.gradle/
build/
/*/build/
*.main.kts

# IntelliJ / Android Studio
.idea/*
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/codeStyles/
!.idea/scopes/
!.idea/compiler.xml
!.idea/kotlinc.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/gradle.xml
!.idea/runConfigurations/
*.iml
*.iws
*.ipr
out/

# Local configuration
local.properties

.externalNativeBuild
.cxx/
.navigation/
captures/
*.hprof

# Built artifacts
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
release/

# Testing & Coverage
**/test-results/
**/androidTest-results/
**/jacoco/
*.exec

# KSP / Generated
**/generated/

# OS specific
.DS_Store
Thumbs.db

# Logging
*.log

# Misc
.kotlin/
*.kt.swp
*.kotlin_module
